body {
    font-family: Optima, sans-serif;
    margin: 10%;
}

#TOC {
    margin: 0; padding: 1em;
    text-align: center;
}

#TOC li {
    list-style: none;
    display: inline;
    margin: 1em; padding: 0px;
}

h1 a, h2 a, #TOC a {
    text-decoration: none;
    font-weight: bold;
    color: forestgreen;
}

pre code {
    display: block;
    margin: 1em; padding: 1em;
    background-color: aliceblue;
}